.archivesSection{
    padding:2% 0;
}
.buttonUL{
    display:flex;
    justify-content: space-between;
    margin-bottom:25px;
}

.archiveContainer{
    h2{
        border-bottom:2px solid black;
        font-weight:400;
    }
}

.shootContainer{
    padding:2% 0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.shoot{
    width:35%;
    margin:2% 0;
    position:relative;

    .imageContainer{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    img{
        height:750px;
    }

    &:hover .textContainer{
        display:flex;
    }

    .textContainer{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background:rgba(0, 0, 0, 0.417);

        display:none;
        justify-content: center;
        align-items: center;
    }
    h3, p{
        color:white;
    }
    h3{
        @include fontSize(20);
    }
    p{
        @include fontSize(18);
    }
}

.shootName{
    font-weight:400;
    border-bottom:1px solid black;
}

.shootList{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:100%;
}

.videoShoot{
    margin:25px 0;
    h3{
        font-weight:400;
    }
}